<h1> Employees </h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email </th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <% binding.pry %>
        <td><%= link_to "#{employee.first_name}", employee_path(@employee) %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
